.DS_Store
target
project/target

*.orig
.idea
.metals
.project
.classpath
.metadata/

*#
*~
.#*
.*.swp
*.vim
.ensime*

# SBT downloaded folder (from CI/CD)
sbt/
sbt.tgz

# Additional build artifacts
.bloop/
.vscode/
*.log
